<script lang="ts">
    import Container from '$lib/components/Container.svelte';
	import Meta from '$lib/components/Meta.svelte';
    import Button from '$lib/components/Button.svelte';
    import ResponsiveImage from '$lib/components/ResponsiveImage.svelte';
</script>


<Meta
    title="Home"
    description="Home page"
    type="website"
/>

<Container>

Blog
----

This is a test page. More to come!

</Container>