<script>
	import Meta from '$lib/components/Meta.svelte';
    import Button from '$lib/components/Button.svelte';
    import Container from '$lib/components/Container.svelte';
    import ResponsiveImage from '$lib/components/ResponsiveImage.svelte';
</script>

<Meta
    title="Home"
    description="Home page"
    type="website"
/>

<ResponsiveImage 
    height='400px'
    src="/img/river-banner.webp"
/>

<Container>

Coming soon!

</Container>