$white: #ffffff;
$black: #000000;

$offWhite: #FEFCFE;
$offBlack: #170015;

$lightMountain: #eee9ef;
$mountain: #c7bfc9;
$rock: #8e898f;
$darkRock: #5d595e;
$pewter: #232124;

$stream: #2f5394;
$brackish: #4c7bcf;

$earth: #a86939;

$spruce: #356500;
$hemlock: #40800b;

