@import './colors';

$surface: $white;
$background: $white;
$onSurface: $offBlack;
$primaryAccent1: $pewter;
$primaryAccent2: $darkRock;
$primaryAccent3: $rock;
$primaryAccent4: $mountain;
$primaryAccent5: $lightMountain;
$primaryAccent6: $offWhite;

$surfaceDark: $black;
$backgroundDark: $offBlack;
$onSurfaceDark: $offWhite;