@import './colors';

$surface: $white;
$background: $offWhite;
$onSurface: $offBlack;
$accent1: $mountain;
$accent2: $lightMountain;

$surfaceDark: $black;
$backgroundDark: $offBlack;
$onSurfaceDark: $offWhite;
